.main-menu-card{
    color : black;
    background-color: blue;
}
.info-icon{
    position: absolute;
}
.item{
    margin: 30;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  header{
    margin-bottom: 30px;;
  }
  