.main-menu-card{
    color : black;
    background-color: blue;
}
.info-icon{
    position: absolute;
}
.item{
    margin: 30;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

header{
  margin-bottom: 30px;;
}

a{
  text-decoration: none;
}

A:hover { 
  text-decoration: none; 
  color: rgb(255, 255, 255);
}

blockquote {
  border-left: 5px solid #43a047 ;
}

.jf-page-title{
  margin-bottom: 25px;
}

body{
  background-color: #444444;
}

.jf-img{
  height: 300px;
}
  
html, 
body {   
  height: 100%; 
} 
 
.content { 
  flex: 1 0 auto; 
} 

footer {   
  flex-shrink: 0; 
}

#root{
  display: flex;   
  flex-direction: column; 
  height: 100%;
}

.input-field textarea{
  color: black;  
  box-shadow: 0 1px 0 0 black !important
}

.input-field input{
  color: black;  
  box-shadow: 0 1px 0 0 black !important
}

.input-field label{
  color: black;
}

.input-field textarea:focus + label {
  color: #00ae5d !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #00ae5d !important;
  box-shadow: 0 1px 0 0 #00ae5d !important
}

.input-field input:focus + label {
  color: #00ae5d !important;
}

.input-field input:focus {
  border-bottom: 1px solid #00ae5d !important;
  box-shadow: 0 1px 0 0 #00ae5d !important;
}

.active{
  color: #00ae5d !important;
}